fastapi==0.112.2
psutil==6.0.0
Requests==2.32.3
starlette==0.38.2
uvicorn==0.30.6
python-multipart==0.0.9
pyyaml==6.0.2
watchdog==5.0.0
websockets==13.0.1

# 有的依赖是我开发插件时临时用到的，可能在正式项目中用不到，忘了是哪几个，就不删了 :)